<ion-view view-title="个人信息">
  <ion-content>
  <div>
	   <h4>您最近一次的识别结果：</h4>
     <div>
       <label for="username" >用户名：</label>
       <span id="user"></span>
     </div>
     <div>
       <label for="sex">您的性别是：</label>
       <span id="sex"></span>
     </div>
     <div>
       <label for="age">您的年龄是：</label>
       <span id="age"></span>
     </div>
     <div>
       <label for="ethnicity">您的种族是：</label>
       <span id="ethnicity"></span>
     </div>
     <div>
       <label for="glass">是否佩戴眼镜：</label>
       <span id="wearGlass"></span>
     </div>
     <div>
       <label for="smile">是否微笑：</label>
       <span id="isSmile"></span>
     </div>
     <div>
       <label for="facequalityValue">皮肤质量：</label>
       <span id="skinQuality"></span>
     </div>
     <div>
       '<div class="jiathis_style_m"></div>
            <script type="text/javascript" src="http://v3.jiathis.com/code/jiathis_m.js" charset="utf-8"></script>'
     </div>
  </div>

  </ion-content>
</ion-view>
