<ion-view view-title="主页">
  <ion-content class="padding">
  <div class="homeContent">
    <h3>欢迎{{user}}来到人脸识别Hybrid APP！</h3>
    <p>
      <label for="">作者：</label>
      <span>王巍</span>
    </p>
    <p>
      <label for="">版本：</label> 
      <span>1.0.0</span>
    </p>
    <p>
      <label for="">简介：</label>
      <span>本APP是Hybrid APP，可以运行在Android、IOS上，属于跨平台的混合APP.可以用来识别你的年龄和性别</span>
    </p>
    <p>
      <label for="">操作方法：</label>
      <span>点击中间的tab人脸识别，拍摄照片</span>
    </p>
  </div>
  </ion-content>
</ion-view>
