<ion-view view-title="主页">
  <ion-content class="padding">
    <p>
      <label for="">当前城市：</label>
      <span id="city"></span>&nbsp;
      <label for="">温度：</label>
      <span id="temp"></span> <br>
      <label for="">天气：</label>
      <span id="SD"></span>&nbsp;
      <label for="">PM2.5：</label>
      <span id="WD"></span>&nbsp;
      
    </p>
  <div class="homeContent">
    <h3>欢迎来到人脸识别Hybrid APP！</h3>
    <p>
      <label for="">作者：</label>
      <span>王巍</span>
    </p>
    <p>
      <label for="">QQ：</label>
      <span>277545993</span>
    </p>
    <p>
      <label for="">博客：</label>
      <span>http://blog.csdn.net/wangweiscsdn</span>
    </p>
    
    <p>
      <label for="">版本：</label> 
      <span>1.0.0</span>
    </p>
    <p>
      <label for="">简介：</label>
      <span>本APP是Hybrid APP，可以运行在Android、IOS上，属于跨平台的混合APP.可以用来识别你的年龄和性别等信息。</span>
    </p>
  </div>
  </ion-content>
</ion-view>
